@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
}

.hero {
  display: grid;
  width: 100%;
  height: 60%;
  place-items: center;
  background-size: cover;
  background-position: center;
}

.min-h-screen-main {
  min-height: 70vh;
}

.second-main {
  min-height: 50vh;
}

.hook-space {
  padding-top: 5rem;
}

.hook-button {
  width: 10rem;
}

@media only screen and (max-width: 600px) {
  .min-h-screen-main {
    min-height: 95vh;
  }
}
